html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Inter', sans-serif;
	color: #fafafa;
	font-weight: 500;
	background-color: black;
	overflow: hidden;
}

p {
	font-family: 'Inter', sans-serif;
	color: var(--white);
	font-weight: 500;
}

header {
	padding: 10px;
	width: 100vw;
	position: fixed;
	z-index: 10;
	background-color: rgba(0,0,0,.4);
    backdrop-filter: blur(2px);
    -webkit-box-shadow: 0 0 10px 8px rgba(0,0,0,0.3);
	box-shadow: 0 0 10px 8px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar {
	width: 10px;               /* ширина scrollbar */
}
body::-webkit-scrollbar-track {
	background: var(--grayM);        /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
	background-color: var(--sec);    /* цвет плашки */
	border-radius: 20px;       /* закругления плашки */
	border: 2px solid var(--gray);  /* padding вокруг плашки */
}

a {
	text-decoration:none;
	color: #fafafa;
}

.menu {
	width: 100%;
	position: relative;
}

.menu__logo {
	display: inline-block;
}

.logo_div {
	display: inline-block;
	vertical-align: middle;
}

.logo_img {
	background-image: url(../img/logo.svg);
	width: 60px;
	height: 60px;
	background-size: contain;
	-webkit-filter: invert(100%);
    filter: invert(100%);
}

.logo_txt {
	font-family: 'Signika', sans-serif;
	font-size: 44px;
	user-select: none;
}

.menu__nav {
	display: inline-block;
	position: absolute;
	vertical-align: middle;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.nav__href {
	display: inline-block;
	margin-left: 30px;
}

.nav_txt {
	font-size: 16px;
}

.nav_txt:hover {
	color: var(--sec);
	transition: 0.2s;
}

.nav_select {
	color: var(--sec);
	font-weight: 500;
	font-size: 120%;
	position: relative;
}

.nav_select:after {
	width: 100%;
	content: "";
	color: var(--sec);
	border-bottom: 3px solid var(--sec);
	border-radius: 0px 0px 3px 3px;
	position: absolute;
	margin-top: 10px;
	display: block;
}

.nav__arrow_down {
	font-size: 10px;
	margin-left: 3px;
	vertical-align: middle;
}

.button-buy {
	background: var(--sec);
	border-radius: 7px;
	padding: 10px 30px 10px 30px;
	user-select: none;
	text-decoration: none;
	appearance: none;
}

.menu__button {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.button-buy:hover {
	background-color: var(--sec);
	filter: brightness(0.8);
}

.button-buy:active {
	background-color: var(--sec);
	filter: brightness(0.6);
}

.button-buy_txt {
	text-align: center;
	font-size: 16px;
	white-space: nowrap;
}

.welcome__button {
	margin-top: 30px;
	margin-left: 50%;
	transform: translateX(-50%);
}

.cont {
	margin: 0 auto;
	width: 85vw;
}


.min-h {
	min-height: calc(100vh - 100px);
}

.welcome {
	background-image: url(../img/welcome.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.black_bg {
	width: 100%;
	min-height: calc(100vh - 100px);
	background-color: rgba(0, 0, 0, 0.3);
}

.welcome__plak {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.welcome__txt {
	font-size: 48px;
}

.plus {
	background-color: green;
}

.row {
	margin: 0 auto;
	background-color: red;
	width: 80%;
	height: 360px;
	flex-direction: column;
	padding: 50px 0 50px 0;
}

.row__group {
	margin: 0 auto;
	display: block;
}

.row_obj {
	background-color: gold;
	width: 500px;
	height: 300px;
	margin: 50px;
	display: inline-block;
}

.buy {
	background-color: var(--black);
	position: relative;
}

.buy__center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
}

.buy__var {
	background-color: var(--gray);
	width: 350px;
	height: 450px;
	display: inline-block;
	border-radius: 10px;
	margin: 70px;
	padding: 35px;
}

.var1 {
	background-color: var(--black);
	box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.15);
}

.var2 {

}

.buy__var-txt {
	font-size: 28px;
	text-align: center;
}

.buy__var button {
	margin-left: 50%;
	transform: translateX(-50%);
}

.buy__var-plu {
	position: inherit;
}

.buy__var-plus ul {
    list-style-type: none;
    margin-top: 35px;
    line-height: 35px;
    text-indent: -18px;
    margin-left: 10px;
}

.buy__var-plus li {
	text-align: left;
}

.buy__var-plus li::before {
	color: var(--white);
    content:"\2022";
    margin-right: 5px;
    font-size: 20px;
}

.price {
	text-align: center;
	font-size: 36px;
	color: var(--sec);
	font-weight: 600;
}

.old-check-txt {
	color: rgba(255, 255, 255, 0.4);
	font-weight: 300;
	font-size: 14px;
	text-align: center;
	position: absolute;
	bottom: -100px;
	line-height: 20px;
}

.old-check-txt:hover {
	color: rgba(255, 255, 255, 0.6);
	transition: .3s;
}

.IP {
	width: 100%;
	height: 120px;
	background-color: var(--sec);
}

.besp li {
	color: rgba(255, 255, 255, 0.4);
}

.besp li::before {
	color: rgba(255, 255, 255, 0.4);
}

.buy__var-down {
	position: absolute;
	bottom: 100px;
	margin-left: 175px;
	transform: translateX(-50%);
}

.but__var_btn {
	margin-top: 25px;
}

#copied {
	width: 200px;
	background-color: rgba(31, 31, 31, 0.8);
	border-radius: 5px;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	padding: 10px;
	animation: showBlock 1s linear forwards;
	z-index: 101;
}

.img__png {
	position: fixed;
	bottom: 0;
	right: 0;
	background-image: url(../img/tima2.png);
	width: 320px;
	height: 120px;
	background-repeat: no-repeat;
	background-size: cover;
	display: none;
	display: block;
}

footer {
	width: 100%;
	height: 120px;
	background-color: var(--sec);
}

.IP-txt {
	transform: translate(-50%, -50%);
	line-height: 15px;
	font-weight: 500;
}